<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 px-4 px-lg-5"
     aria-label="Menú principal">
    <a href="index.html" class="navbar-brand d-flex align-items-center">
        <img src="img/icon/logo-pagina.png" alt="AGA Soluciones IT" class="me-2 logo" width="160" height="60">
    </a>
    <button type="button"
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Abrir o cerrar el menú">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-4 py-lg-0">
            <a href="index.html"     class="nav-item nav-link" data-page="index">Inicio</a>
            <a href="acerca-de.html" class="nav-item nav-link" data-page="acerca-de">Acerca de nosotros</a>
            <a href="servicios.html" class="nav-item nav-link" data-page="servicios">Servicios</a>
            <a href="proyectos.html" class="nav-item nav-link" data-page="proyectos">Proyectos</a>
            <a href="contacto.html"  class="nav-item nav-link" data-page="contacto">Contacto</a>
        </div>
        <div class="d-lg-flex d-none align-items-center" aria-label="Redes sociales">
            <a class="btn btn-square rounded-circle bg-light text-primary me-2"
               href="https://www.facebook.com/agasitsas"
               target="_blank" rel="noopener noreferrer"
               aria-label="Facebook de AGA Soluciones IT">
                <i class="fab fa-facebook-f" aria-hidden="true"></i>
            </a>
            <a class="btn btn-square rounded-circle bg-light text-primary me-2" href="#" aria-label="Twitter / X">
                <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
            </a>
            <a class="btn btn-square rounded-circle bg-light text-primary me-2" href="#" aria-label="LinkedIn">
                <i class="fab fa-linkedin-in" aria-hidden="true"></i>
            </a>
            <a class="btn btn-square rounded-circle bg-light text-primary me-0" href="#" aria-label="Instagram">
                <i class="fab fa-instagram" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</nav>
